body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: rgb(59, 162, 169);
}


.back {
    padding: 8px;
}

.title {
    background-color: rgb(59, 162, 169);
}

.title-img {
    display: block;
    margin: 0 auto 30px;
    border: 3px solid grey;
    width: 75%;
}

.last-img {
    display: block;
    margin: 0 auto;
    border: 3px solid grey;
    width: 80%;
}

.description {
    font-weight: 700;
    border-top: 5px dotted rgb(59, 162, 169);
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.home-button {
    text-align: center;
    padding: 8px 20px;
    background-color: rgb(59, 162, 169);
}

a:hover {
    display: inline-block;
    font-size: 30px;
    background-color: whitesmoke;
    color: rgb(59, 162, 169);
}

.button{
    display: inline-block;
    padding: 4px 16px;
    color:  whitesmoke;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}


h1 {
    color: rgb(144, 201, 205);
    font-size: 50px;
    text-align: center;
}

.list {
    box-sizing: border-box;
    margin-right: auto;
}

.recipe1 {

}

.recipe2 {

}

.recipe3 {
}